/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  min-width: 330px;
  padding: 0px;
  margin: 0 auto;
  max-width: 1440px;
  align-items: center;
}

.gallery-container {
  width: 1440px;
  padding: 0px;
  margin: 0 auto;
  align-items: center;
  display: flex;
}
  img {
    display: flex;
    max-width: 100%;
    height: auto;
    width: 360px;
    height: 200px;
}

.form-link {
  text-decoration: none;
}

.gallery-link {
  text-decoration: none;
}
ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  user-select: none;
  list-style: none;
}


.gallery {
  display: flex;
  list-style: none;
  width: 1400px;
  padding: 0px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border-color: black;
  margin: 24px;
  counter-increment: my-counter;
}
.gallery-item {
  display: flex;
  list-style: none;
  width: 408px;
  padding: 0px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border-color: black;
  margin: 24px;
  counter-increment: my-counter;
}
.gallery-item img {
  width: 360px;
  height: 200px;
  border-radius: 5px;
  margin: 5px;
}

.gallery-item p {
  font-size: 1rem;
  margin: 0px;
}
